* {
  box-sizing: border-box;
  // border: 1px dotted red;
}

@mixin link-visit() {
  text-decoration: none;
  color: #000;
}

// Divs accomodate height of nav, sized to 1000px height screen

@mixin div-dimensions() {
  margin-top: 60px;
  height: 940px;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;

  &:hover, &:focus {
    @include link-visit();
  }
}

a.portfolio-link.red {
  color: Red;
}

a.linkedin, a.codecademy {
  &:hover, &:focus {
    color: Red;
  }
}

div.navigation {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 2%;
  background-color: transparent;

  nav.nav-left {
    display: flex;
    margin-left: 3%;
  }

  nav.nav-right {
    display: flex;
    margin-right: 3%;
  }
}

nav {
  ul {
    height: 100%;

    li {
      display: inline-block;
      list-style: none;
      margin: 10px;
      font-size: 1.8rem;
    }
  }
}


div.about {
  @include div-dimensions();
  display: flex;

  div.pizza {
    display: flex;
    width: 50%;

    img.pizza {
      margin-top: 23%;
      margin-left: 25%;
    }
  }

  div.profile {
    display: flex;
    width: 50%;

    ul.profile {
      margin-top: 22%;
      margin-left: 5%;
      list-style: none;
      width: 50%;

      li {
        margin-top: 2%;
        margin-bottom: 8%;

        span.glyphicon {
          margin-right: 3%;
        }
      } 
    }
  }
}

div.portfolio {
  @include div-dimensions();

  div.prj-container {
    border: 2px solid black;
    border-radius: 80px;
    width: 50%;
    margin: auto;
    position: relative;
    top: 12%;

    h1 {
      text-align: center;
      margin-top: 3%;
      font-weight: bold;

      a.mtg {
        color: #e67e22;
        &:hover, &:focus {
          color: Red;
        }
      }
    }

    img.project {
      display: block;
      margin: auto;
      width: 100%;
      height: auto;
      padding: 3%;
    }
  }
}