* {
  box-sizing: border-box;
  // border: 1px dotted red;
}

@mixin link-visit() {
  text-decoration: none;
  color: #000;
}

// Divs accomodate height of nav, sized to 1000px height screen

@mixin div-dimensions() {
  margin-top: 60px;
  height: 940px;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;

  &:hover, &:focus {
    @include link-visit();
  }
}

a.portfolio-link.red {
  color: Red;
}

a.linkedin, a.codecademy {
  &:hover, &:focus {
    color: Red;
  }
}

div.navigation {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 1%;
  background-color: transparent;

  nav.nav-left {
   float: left;
   height: 100%;
   margin-left: 1%;
  }

  nav.nav-right {
    float: right;
    height: 100%;
    margin-right: 1%;
  }
}

nav {
  ul {
    height: 100%;

    li {
      display: inline-block;
      list-style: none;
      margin: 10px;
    }
  }
}


div.about {
  @include div-dimensions();

  div.pizza {
    height: 100%;
    width: 50%;
    float: left;

    img.pizza {
      height: 55%;
      width: auto;
      margin-top: 23%;
      margin-right: 5%;
      float: right;
    }
  }

  div.profile {
    height: 100%;
    width: 50%;
    float: right;

    ul.profile {
      margin-top: 25%;
      margin-left: 5%;
      list-style: none;

      li {
        margin-top: 2%;
        margin-bottom: 3%;

        span.glyphicon {
          margin-right: 3%;
        }
      } 
    }
  }
}

div.portfolio {
  @include div-dimensions();

  img.project {
    display: block;
    margin: auto;
    height: 52%;
    width: auto;
    border: 2px solid black;
    padding: 3%;
    position: relative;
    top: 23%;

  }
}