/** {
  border: 1px solid rgba(0,0,0,0.3);
}*/

body {
  margin-top: 50px;
  background-color: #FFF;
}

a {
	color: #000;
  font-size: 20px;
  text-decoration: none;
}

a:hover{
	color: #000;
}

.pizza {
  background: url("/pizza.png") no-repeat center center;
  background-size: 550px 550px;
  height: 100%;
}

.jumbotron {
/*  height: 850px;*/
  background-color: #FFF;
}

/*Borders for learning purposes only*/

.first {
  padding: 150px 200px 200px 200px;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.second {
  padding: 10px 180px 300px 180px;
  height: 100%;
}

p {
  padding: 10px 10px 10px 40px;
  margin: 0px;
}

.map {
  background: #FFF url("/map.png") no-repeat center center;
  height: 100%;
  margin: 0px;
  padding: 20px 20px 20px 20px;
}

.profile{
  padding-top: 35px;
}

img{
  width:100%;
  height:100%;
}